//************************************************************************************************

// Clients Section

.clients{
    padding:  0;
    height: 127px;
    background-color: #271F1E;
    .container{
      height: 127px;
    }
    .js-marquee-wrapper {
      width: 100% !important;
      display: flex;
      height: 100%;
    }
    .js-marquee {
      display: flex;
      height: 127px;
      column-gap: 40px;
    }

     .block-marquee {
        overflow-x: hidden;
        flex-direction: row;
        justify-content: flex-start;
        direction: ltr;
        height: 100%;
    }
    .block-anchor{
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 100%;
            filter: brightness(0) invert(1);
            max-height: 100%;
        }
    }

}

.clients-parent{
  display: flex;
  max-width: 1582px;
  margin-inline: auto;
  justify-content: center;
  flex-wrap: wrap;
  // justify-content: space-between;
  column-gap: 112px;
  row-gap: 165px;
}
.page-clients-sec{
  padding-top: 170px;
  padding-bottom: 200px;
  // background-color: #271F1E;
}


@include max-1700{
  .clients-parent{
    column-gap: 102px;
    row-gap: 130px;
    max-width: 100%;
  }
}

@include max-1400{
  .clients-parent{
    column-gap: 115px;
    // row-gap: 130px;
  }
}

@include max-1200{
  .clients-parent{
    column-gap: 70px;
    row-gap: 100px;
  }
}


@include max-768 {
  .clients{
    padding: 25px 0;
  }
  .clients .js-marquee{
    column-gap: 30px;
  }
  .clients-parent{
    column-gap: 25px;
    row-gap: 40px;
  }
  .client-item{
    width: calc( 100% / 3 - 17px); ;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  .page-clients-sec{
    padding: 60px 0;
  }
}

//************************************************************************************************