//  clients reviews section 
.clients-reviews{
    position: relative;
    padding: 67px 0 85px 0;
    // height: 378px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center;
    background-image: url("../images/client-reviews/01.jpg");
    .title{
        font-size: 15px;
        text-transform: capitalize;
        color: #ecebe9;
        font-weight: 300;
        text-align: center;
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
    }
    .review-content{
        text-align: center;
        max-width: 555px;
        margin-inline:auto ;
    }
    .review-desc{
        font-size: 14px;
        color: #ecebe9;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 28px;
    }
    .review-text{
        font-size: 36px;
        color: #ecebe9;
        text-align: center;
        line-height: 54px;
        margin-bottom: 24px;
    }
    .reviewer-name{
        font-size: 12px;
        color: #ecebe9;
        font-weight: 300;
    }
  
}
.review-content .rates{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
    .fa-star{
        font-size: 16px;
        color: #ecebe9;
    }
    .fa-star.active{
        color:  #9A7A4D ;
    }
}


.clients-reviews{
    &::after{
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color:  #271f1e, $alpha: 0.725);
        z-index: 0;
    }
}

.clients-reviews{
    .swiper-pagination{
        display: none;
    }

    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: 40px;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: 40px;
    }
    
    
    .swiper-pagination{
        // display: flex;
        bottom: 0;
        height: 6px;
        background-color: rgba($color: #9a7a4d, $alpha: 0.2);
    }
    .swiper-pagination-bullet{
        flex-grow: 1;
        margin: 0 !important;
        height: 100%;
        border-radius: 0;
        background-color: rgba($color: #9a7a4d, $alpha: 0.2);
    }
    .swiper-pagination-bullet-active{
        margin: 0 !important;
        background-color: rgba($color: #9a7a4d, $alpha: 1);
    }
}


.rectangle{
    height: 59px;
    background-color: #9a7a4d;
}


@include max-768 {
    .clients-reviews .review-content{
        max-width: 100%;
    }
    .clients-reviews{
        padding: 50px 0 ;
    }
    .clients-reviews .review-text{
        font-size: 22px;
        line-height: 1.5;
    }
    .clients-reviews .title{
        margin-bottom: 20px;
    }
    .clients-reviews{
        background-position: 53%;
    }
    .clients-reviews .swiper-pagination{
        display: none;
        // bottom: 20px;
    }
    .clients-reviews .swiper-button-next, .clients-reviews .swiper-rtl .swiper-button-prev{
        right: 10px;
    }
    .clients-reviews .swiper-button-prev, .clients-reviews .swiper-rtl .swiper-button-next{
        left: 10px;
    }
   .clients-reviews .swiper-button-next i, .clients-reviews .swiper-button-prev i{
        font-size: 20px ;
        color: #9A7A4D ;
       
    }
    .clients-reviews{
        .fa-arrow-right:before{
            content: "\f054" ;
        }
        .fa-arrow-left:before{
            content: "\f053" ;
        }
    }   
    
    .clients-reviews .swiper-button-next::after, .clients-reviews .swiper-button-prev::after{
        display: none;
    }
     .clients-reviews .swiper-button-next, .clients-reviews .swiper-button-prev{
        width: auto ;
        height: auto ;
        background-color: transparent ;
    }
    .clients-reviews .review-desc{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 105px;
        padding-inline: 12px;
        font-size: 15px;
    }
    .rectangle{
        height: 50px;
    }
}